{% extends "ServiceCatalogue/services_base.html" %}

{% load i18n %}

{% block bodycontent %}
  <div class="service-header mb-4 mt-3">
    <h1 class="display-6 mb-3" style="font-weight: 500;">{{ title }}</h1>
    {% block description %}{% endblock %}
  </div>
  <p><em>{{ info }}</em></p>
  
  {% if login_retry_url %}
  <div class="mt-4">
    <a href="{{ login_retry_url }}" class="btn btn-primary">
      <i class="bi bi-box-arrow-in-right me-2"></i>{% translate "Try logging in again" %}
    </a>
  </div>
  {% endif %}
{% endblock %}
